.display {
	font-weight: 700;
	font-size: 56px;
	line-height: 64px;
	letter-spacing: -2px;
}
h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	letter-spacing: -2px;
}
h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: -2px;
}
h3 {
	font-weight: 700;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;
}
h4 {
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}
h5 {
	font-weight: 700;
	font-size: 20px;
	line-height: 32px;
}
h6 {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
.body1-black {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #232536;
}
.body2-black {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #232536;
}
.body1 {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	color: #6d6e76;
}
.body2 {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #6d6e76;
}
.label1 {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}
.cap1 {
	font-family: 'Inter';
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.cap2 {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
}
.cap3-bold {
	font-family: 'Inter';
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.cap3 {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
.warpper {
	width: 1280px;
	margin: 0 auto;
}
.btn-yellow {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	padding: 16px 48px;
	border: none;
	background-color: #ffd050;
	height: 60px;
}
